<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!--<add name="DemoContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DemoDb.mdf;Integrated Security=True" 
         
   providerName="System.Data.SqlClient"/>-->
    <add name="ShoppingDB" connectionString="Data Source=.;Initial Catalog=ShoppingDB;User ID=sa;Password=pass123!@#" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<connectionStrings>
    <add name="school" connectionString="Data Source=PBT-R4P1;Initial Catalog=school;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
</configuration>
